.carousel {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-x: repeat(100%);
  scroll-snap-points-x: repeat(100%);
}

.carousel > * {
  width: 100%;
  height: 100%;
  display: inline-block;
}

/* hide scrollbars when the directive kicks in */
.carousel.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
